<div class="container">
  <div class="row">
    <div class="col-lg-12 forgot__password-container">
      <h3 class="forgot__password-title">Reset Password</h3>
      <p class="forgot__password-paragraph">Please enter your email address to request a password reset.</p>
      <div class="formGroup forgot__password-form-wrapper">
        <mat-form-field class="forgot__password-form-field">
          <mat-label>Email</mat-label>
          <input type="email" [formControl]="email" matInput>
          <mat-icon [@bird] *ngIf="email.dirty && email.valid" class="mat-icon-rtl-mirror forgot-password__success-icon"
            svgIcon="success"></mat-icon>
          <mat-icon [@cancel] *ngIf="email.dirty && email.invalid || email.touched && email.invalid"
            class="mat-icon-rtl-mirror forgot-password__fail-icon" svgIcon="fail"></mat-icon>
        </mat-form-field>
        <div class="forgot__password-errors-wrapper" [@errors_wrapper] *ngIf="email.dirty && email.invalid || email.touched && email.invalid">
          <p class="forgot__password-errors" [@errors] *ngIf="email.errors.required">Required field</p>
          <p class="forgot__password-errors" [@errors] *ngIf="email.errors.pattern">Incorrect input</p>
        </div>
      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup forgot__password-form-wrapper forgot__password--margin">
        <button [disabled]="!email.valid || (isLoaded$ | async)" type="submit" class="btn forgot__password-form-buttons"
          value="Reset Password" (click)="ResetPassword()">
          Reset Password
          <div class="uploader-status" *ngIf="isLoaded$ | async">
            <mat-spinner [diameter]='25'></mat-spinner>
          </div>
        </button>
      </div>
      <div class="forgot__password-form-wrapper forgot__password-redirect-to-login">
        <span class="forgot__password-span">Go back to ?</span>
        <a class="forgot__password-link" [routerLink]="['/sign-in']">Login</a>
      </div>
    </div>
  </div>
</div>
