@import '../../../styles/variables.scss';

.sign-in__container {
  display: flex;
  justify-content: center;
  font-family: $main-font-family;
  background-color: #ffffff;
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 10px;
}
.sign-in__content-block {
  width: 50%;
}
.sign-in__form-field {
  width: 100%;
  font-family: $second-main-font-family;
  font-size: 16px;
}
.sign-in__form-input {
  color: $main-font-color;
}
.sign-in__form {
  width: 100%;
}

.sign-in__form-buttons-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}
.sign-in__buttons_parent {
  width: 100%;

  & button {
    width: 100%;
  }
}

.sign-in__title {
  font-family: $second-main-font-family;
  font-size: 35px;
  color: $main-font-color;
  text-align: center;
}
.sign-in__form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $main-font-family;
}

.sign-in__form-icon {
  margin-left: 7px;
}
.sign-in__form-buttons {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  border: 2px solid $main-buttons-color;
  border-radius: 8px;
  font-family: $main-font-family;
  color: $main-buttons-color;
  transition: .4s ease-in-out;

  &::before {
    content: "";
    background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }

  &:hover {
    background: $main-font-color;
    color: #fff;
    border-color: $main-font-color;
  }

  &:hover::before {
    left: 500px;
    transition: 0.8s ease-in-out;
  }
}

.sign-in__form__forgot-password {
  text-align: center;
  margin-top: 15px ;
  font-size: 15px !important;
  font-family: $second-main-font-family !important;
  & a {
    color: $main-animations-color;
    text-decoration: none;
    transition: 0.4s all ease-in-out;

    &:hover {
      color: $main-buttons-color;
    }
  }
}
.sign-in__form-redirect-to-login-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.sign-in__form-redirect-to-login-span {
  font-size: 16px;
  color: $main-font-color;
}
.sign-in__form-redirect-to-login-href {
  font-size: 16px;
  color: $main-animations-color;
  margin-left: 10px;
  transition: 0.2s all ease-in-out;
  text-decoration: none;

  &:hover {
    color: $main-buttons-color;
  }
}

.sign-in__success-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 38px;
  width: 38px;
}
.sign-in__fail-icon {
  position: absolute;
  right: -7px;
  top: -3px;
  height: 45px;
  width: 45px;
}
.sign-in__errors-wrapper {
  position: relative;
}
.sign-in__errors {
  position: absolute;
  right: 0;
  color: red;
}

// MEDIA
@media screen and (min-device-width: 0px) and (max-device-width: 768px) {
  .sign-in__content-block {
    width: 100%;
  }
}
