:host {
  display: block;
  height: 100vh !important;
}
.app__wrapper {
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal-info-dialog .mat-dialog-container {
  padding: 0 !important;
}
