<div class="container">
  <div class="row">
    <div class="col-lg-12 verify__container">
      <h3 class="verify__title">Thank You for Registering</h3>
      <div class="formGroup" *ngIf="userEmail">
        {{ user }}
        <p class="text-center verify__paragraph">We have sent a confirmation email to <strong class="verify__mail">{{userEmail}}</strong>.</p>
        <p class="text-center verify__paragraph">Please check your email and click on the link to verfiy your email address.</p>
      </div>
      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup verify__wrapper">
        <button type="button" class="btn btnPrimary verify__form-buttons" (click)="resendVerificationLink()">
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>
      <div class="verify__form-redirect-to-login-wrapper">
        <span class="verify__form-redirect-to-login-span">Go back to?</span>
        <a class="verify__form-redirect-to-login-href" [routerLink]="['/sign-in']">Login</a>
      </div>
    </div>
  </div>
</div>
