@import 'https://fonts.googleapis.com/css?family=Raleway|Sriracha&display=swap';

$main-font-color: #CA6769;
$main-buttons-color: #F4998A;
$main-hover-color: #F0B799;
$main-background-color: #E3EEFF;
$main-animations-color: #F4D6A0;

$main-font-family: 'Sriracha', cursive;
$second-main-font-family: 'Raleway', 'sans-serif';
