<!-- Sidebar navigation -->
<div class="dashboard__container" [ngClass]="{'container-fluid': mobileSize, 'container': !mobileSize}">
  <div class="row dashboard__row">
    <nav class="col-lg-4 sidebar dashboard__menu-wrapper" *ngIf="!selectedUser || !mobileSize">
      <app-dashboard-menu></app-dashboard-menu>
      <div class="dashboard__user-list">
        <app-dashboard-user-list (emitUser)="showChat($event)"></app-dashboard-user-list>
      </div>
    </nav>
    <main role="main" class="col-lg-8 col-12 dashboard__messages-main" *ngIf="selectedUser">
      <div class="dashboard__mobile__menu" *ngIf="mobileSize">
        <a class="dashboard__mobile__menu-back" (click)="selectedUser = null">
          <mat-icon class="dashboard__icons" svgIcon="back"></mat-icon>
          <span class="dashboard__mobile__menu-span">Back</span>
        </a>
        <div class="dashboard__mobile__menu-info">
          <p class="dashboard__mobile__menu-span">{{ selectedUser.email }}</p>
          <p class="dashboard__mobile__menu-span">{{ selectedUser.status }}</p>
        </div>
        <img class="dashboard__mobile__menu-img" (click)="showModalInfo()" [src]="selectedUser.photoURL" *ngIf="selectedUser.photoURL !== null; else dummyIcon">
        <ng-template #dummyIcon>
          <mat-icon class="dashboard__mobile__menu-img" (click)="showModalInfo()" svgIcon="dummyprofile"></mat-icon>
        </ng-template>
      </div>
      <app-chat [user]="selectedUser"></app-chat>
    </main>
  </div>
</div>
