<!-- Sidebar navigation -->
<div class="container dashboard__container">
  <div class="row dashboard__row">
    <nav class="col-lg-4 sidebar dashboard__menu-wrapper">
      <app-dashboard-menu></app-dashboard-menu>

      <div class="dashboard__user-list">
        <app-dashboard-user-list (emitUser)="showChat($event)"></app-dashboard-user-list>
      </div>
    </nav>

    <main role="main" class="col-lg-8 dashboard__messages-main" *ngIf="selectedUser">
      <app-chat [user]="selectedUser"></app-chat>
    </main>
  </div>
</div>
