@import '../../styles/variables.scss';


.dashboard__container {
  height: 80vh;
  background-color: #ffffff;
}
.dashboard__row {
  height: 100%;
}
.dashboard__menu-wrapper {
  padding: 0;
  overflow-y: scroll;
  height: 100%;
}
.dashboard__messages {
  height: 90%;
  overflow-y: scroll;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
.dashboard__messages-body {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  background-color: $main-background-color;
  border-radius: 15px;
  font-family: $main-font-family;
  color: $main-font-color;
}
.dashboard__messages-email {
  position: absolute;
  bottom: 0;
  right: 10px;
}
.dashboard__messages-time {
  position: absolute;
  top: 0;
  right: 10px;
}
.message__from-user {
  background-color: #92bcfc;
}

.dashboard__messages-footer {
  height: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dashboard__messages-field {
  width: 100%;
  font-family: $second-main-font-family;
  font-size: 16px;
}
.dashboard__messages-input {
  color: $main-font-color;
}

