@import '../../styles/variables.scss';


.dashboard__container {
  height: 80vh;
  background-color: #ffffff;
}
.dashboard__row {
  height: 100%;
}
.dashboard__menu-wrapper {
  padding: 0;
  overflow-y: scroll;
  height: 100%;
}
.dashboard__messages {
  height: 90%;
  overflow-y: scroll;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
.dashboard__messages-main {
  padding-left: 0;
  padding-right: 0;
  max-height: 740px;
}
.dashboard__messages-body {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  background-color: $main-background-color;
  border-radius: 15px;
  font-family: $main-font-family;
  color: $main-font-color;
}
.dashboard__messages-email {
  position: absolute;
  bottom: 0;
  right: 10px;
}
.dashboard__messages-time {
  position: absolute;
  top: 0;
  right: 10px;
}
.message__from-user {
  background-color: #92bcfc;
}

.dashboard__messages-footer {
  height: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dashboard__messages-field {
  width: 100%;
  font-family: $second-main-font-family;
  font-size: 16px;
}
.dashboard__messages-input {
  color: $main-font-color;
}
.dashboard__menu-mobile-wrapper {
  background-color: white !important;
  padding-left: 0;
}
.dashboard__mobile__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  color: #ffffff;
  background-color: $main-hover-color;
  transition: 0.3s all ease-in-out;
  cursor: pointer;

  &-back {
    display: flex;
    align-items: center;
    padding-left: 5px;
  }

  &-span {
    font-family: $second-main-font-family;
    font-size: 16px;
    margin-left: 5px;
  }

  &-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
}
