@import '../../../styles/variables.scss';

.sign__up-container {
  font-family: $main-font-family;
  background-color: #ffffff;
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 10px;
}
.sign__up-title {
  font-family: $second-main-font-family;
  font-size: 35px;
  color: $main-font-color;
  text-align: center;
}
.sign__up-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sign__up-form-field {
  width: 50%;
  font-family: $second-main-font-family;
  font-size: 16px;
  color: $main-font-color;
}
.sign__up-form-buttons {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  border: 2px solid $main-buttons-color;
  border-radius: 8px;
  font-family: $main-font-family;
  color: $main-buttons-color;
  transition: .4s ease-in-out;
  width: 50%;

  &::before {
    content: "";
    background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }

  &:hover {
    background: $main-font-color;
    color: #fff;
    border-color: $main-font-color;
  }

  &:hover::before {
    left: 500px;
    transition: 0.8s ease-in-out;
  }
}
.sign__up-redirect-to-login {
  text-align: center;
  margin-top: 25px;
}
.sign-up__form-redirect-to-login-span {
  font-size: 16px;
  color: $main-font-color;
}
.sign-up__form-redirect-to-login-href {
  font-size: 16px;
  color: $main-animations-color;
  margin-left: 10px;
  transition: 0.2s all ease-in-out;
  text-decoration: none;

  &:hover {
    color: $main-buttons-color;
  }
}
.sign__up-form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign__up-success-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 38px;
  width: 38px;
}
.sign__up-fail-icon {
  position: absolute;
  right: -7px;
  top: -3px;
  height: 45px;
  width: 45px;
}
.sign__up-errors-wrapper {
  position: relative;
  width: 50%;
}
.sign__up-errors {
  position: absolute;
  right: 0;
  color: red;
}
.sign__up--margin {
  margin-top: 20px;
}
.sign__up-spinner {
  position: absolute;
  top: 0;
  right: 0;
}
.login__password-protection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.3rem;
}
.password__difficulty {
  background-color: gainsboro;
  width: 60%;
  height: 10px;
}
span {
  font-size: .7rem;
  color: #00c851;
}
.uploader-status  {
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}
.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: $main-background-color;
  stroke-width: 15% !important;
}
@media screen and (min-device-width: 0px) and (max-device-width: 768px) {
  .sign__up-form-field {
    width: 90%;
  }
  .sign__up-form-buttons {
    width: 90%;
  }
  .sign__up-errors-wrapper {
    width: 95%;
  }
  .password__difficulty {
    width: 50%;
  }
}
