<div class="container">
  <div class="row">
    <div class="col-lg-12 sign__up-container">
      <h3 class="sign__up-title">Sign Up</h3>

      <div class="formGroup sign__up-form-wrapper">
        <mat-form-field class="sign__up-form-field">
          <mat-label>Email</mat-label>
          <input matInput type="email">
        </mat-form-field>

        <mat-form-field class="sign__up-form-field">
          <mat-label>Password</mat-label>
          <input matInput type="password">
        </mat-form-field>
      </div>
      <div>
        <div class="formGroup sign__up-form-wrapper">
          <button type="button" class="btn sign__up-form-buttons">Sign Up</button>
        </div>
        <!-- Continue with Google -->
        <div class="formGroup sign__up-form-wrapper">
          <button type="button" class="btn sign__up-form-buttons" (click)="authService.GoogleAuth()">
            Continue with Google
            <mat-icon class="mat-icon-rtl-mirror sign-in__form-icon" svgIcon="google"></mat-icon>
          </button>
        </div>
      </div>
      <div class="sign__up-redirect-to-login">
        <span class="sign-up__form-redirect-to-login-span">Already have an account?</span>
        <a class="sign-up__form-redirect-to-login-href" [routerLink]="['/sign-in']">Log In</a>
      </div>
    </div>
  </div>

</div>
