@import '../../../styles/variables.scss';


.mat-dialog-container {
  padding: 0px !important;
}

.modal-info-dialog {
  min-width: 400px;
}
.modal-info__header {
  background-color: $main-buttons-color;

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    &-span {
      color: #ffffff;
      font-family: $second-main-font-family;
      font-size: 18px;
    }
  }

  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 15px;

        &-span {
          color: #ffffff;
          font-family: $second-main-font-family;
          margin-top: 7px;
          font-size: 17px;
        }
    }
    &-img {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      margin-right: 15px;
    }

    &-dummy-img {
      height: 65px;
      width: 65px;
      margin-right: 15px;
    }
  }
}

.modal-info__body {
  background-color: $main-background-color;
  &-ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: 1.5rem;

    & li {
      padding-top: 30px;
    }

    &-icon {
      height: 20px;
      width: 20px;
      border: none;
      transition: 0.3s all ease-in-out;

      &:hover {
        transform: translateY(5px);
      }
    }

    &-span {
      font-family: $second-main-font-family;
      font-size: 17px;
      margin-left: 15px;
    }

    &-slide {
      margin-left: 15px;
    }
  }
}
.about__icon {
  height: 25px;
  width: 25px;
}


@media screen and (min-device-width: 0px) and (max-device-width: 768px) {
  .modal-info__body-ul-span {
    font-size: 14px;
  }
  .modal-info__header-body-img {
    height: 65px;
    width: 65px;
  }
  .modal-info__header-body-dummy-img {
    height: 65px;
    width: 65px;
  }
  .modal-info__header-body-wrapper-span {
    font-size: 16px;
  }
}
@media screen and (min-device-width: 0px) and (max-device-width: 500px) {
  .modal-info-dialog {
    min-width: 95vw;
  }
}
