<div>
  <section class="modal-info__header">
    <div class="modal-info__header-top">
      <span class="modal-info__header-top-span">Contact info</span>
      <mat-icon mat-dialog-close class="modal-info__body-ul-icon" svgIcon='close'></mat-icon>
    </div>
    <div class="modal-info__header-body">
      <img class="modal-info__header-body-img" [src]="data.photoURL" *ngIf="data.photoURL !== null; else dummyIcon">
      <ng-template #dummyIcon>
        <mat-icon class="modal-info__header-body-dummy-img" svgIcon="dummyprofile"></mat-icon>
      </ng-template>
      <div class="modal-info__header-body-wrapper">
        <span class="modal-info__header-body-wrapper-span">{{ data.email }}</span>
        <span class="modal-info__header-body-wrapper-span">{{ data.status }}</span>
      </div>
    </div>
  </section>
  <section class="modal-info__body">
    <ul class="modal-info__body-ul">
      <li>
        <mat-icon class="modal-info__body-ul-icon about__icon" #tooltip="matTooltip" svgIcon='mail' matTooltip="Email"
          matTooltipPosition="below" matTooltipHideDelay="200"></mat-icon>
        <span class="modal-info__body-ul-span">{{ data.email }}</span>
      </li>
      <li>
        <mat-icon class="modal-info__body-ul-icon about__icon" #tooltip="matTooltip" svgIcon='mail' matTooltip="About"
        matTooltipPosition="below" matTooltipHideDelay="200" svgIcon='about'></mat-icon>
        <span class="modal-info__body-ul-span">
          <ng-container *ngIf="data.aboutText; else staticAbout">
            {{ data.aboutText }}
          </ng-container>
          <ng-template #staticAbout>
            No information...
          </ng-template>
        </span>
      </li>
      <li>
        <mat-icon #tooltip="matTooltip" svgIcon='mail' matTooltip="Turn on/off notification"
        matTooltipPosition="below" matTooltipHideDelay="200" class="modal-info__body-ul-icon about__icon" svgIcon='notification'></mat-icon>
        <span class="modal-info__body-ul-span">
          <mat-slide-toggle class="modal-info__body-ul-slide"></mat-slide-toggle>
        </span>
      </li>
    </ul>
  </section>
</div>
