<div class="container">
  <div class="row">
    <div class="col-lg-12 forgot__password-container">
      <h3 class="forgot__password-title">Reset Password</h3>
      <p class="forgot__password-paragraph">Please enter your email address to request a password reset.</p>
      <div class="formGroup forgot__password-form-wrapper">
        <mat-form-field class="forgot__password-form-field">
          <mat-label>Email</mat-label>
          <input type="email" matInput>
        </mat-form-field>
      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup forgot__password-form-wrapper">
        <button type="submit" class="btn forgot__password-form-buttons" value="Reset Password">Reset Password</button>
      </div>
      <div class="forgot__password-form-wrapper forgot__password-redirect-to-login">
        <span class="forgot__password-span">Go back to ?</span>
        <a class="forgot__password-link" [routerLink]="['/sign-in']">Login</a>
      </div>
    </div>
  </div>
</div>
