<section class="owner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <img class="owner__img" src="../../../assets/owner.jpg">
      </div>
      <div class="col-lg-6 col-md-6 col-12 owner__wrapper">
        <h2 class="owner__title">Hello, my name is Rudolf</h2>
        <p class="owner__paragraph">I am a 19 year old programmer from Ukraine, currently residing in
          Poland<br>Currently working on a job search portal na-etacie.pl<br>I go in for sports, promote a healthy
          lifestyle, purposeful and inquisitive

        </p>
        <p class="owner__tech-paragraph">Technologies stack</p>
        <ul class="owner__tech-list">
          <li>
            <img src="../../../assets/html-5.svg" alt="html" title="html">
          </li>
          <li>
            <img src="../../../assets/css.svg" alt="css" title="css">
          </li>
          <li>
            <img src="../../../assets/javascript.svg" alt="javaScript" title="javaScript">
          </li>
          <li>
            <img src="../../../assets/angular.svg" alt="Angular" title="Angular">
          </li>
          <li>
            <img src="../../../assets/git.svg" alt="git" title="git">
          </li>
        </ul>
        <p class="owner__tech-paragraph">Social Media</p>
        <ul class="owner__tech-list">
          <li>
            <a href="https://github.com/rudolfklikh" target="_blank">
              <img src="../../../assets/github.svg" alt="github" title="github">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/rudolfklikh/" target="_blank">
              <img src="../../../assets/linkedin.svg" alt="linkedin" title="linkedin">
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/rudolf.klikh.3/" target="_blank">
              <img src="../../../assets/facebook.svg" alt="facebook" title="facebook">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/rudolfklikh/" target="_blank">
              <img src="../../../assets/instagram.svg" alt="instagram" title="instagram">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/GrafTolstoj" target="_blank">
              <img src="../../../assets/twitter.svg" alt="twitter" title="twitter">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
