@import '../../styles/variables.scss';


.chat {
  height: 100%;
  position: relative;
  background-color: #ffffff;


  &__write-msg {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding-left: 10px;
    padding-right: 20px;
  }

  &__input-msg {
    border-color: rgba(var(--b6a,219,219,219),1);
    border-radius: 22px;
    width: 100%;
    color: $main-font-color;
  }

  &__matInp-msg {
    font-family: $second-main-font-family;
    color: $main-font-color;
    font-size: 17px;
  }

  &__input-send {
    cursor: pointer;
  }

  &__messages-area {
    height: 85%;
    overflow-y: scroll;
  }

  &__messages {
    min-height: 40px;
    width: 35%;
    border: 1px solid $main-hover-color;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $main-font-family;
    color: $main-font-color;
    background-color: $main-background-color;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;

      &-text {
        width: 80%;
        word-wrap: break-word;
        margin-bottom: 0;
      }
  }
  &__msg-fromYou {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 10px;

    &-wrapper {
      background-color: $main-animations-color;
      color: #ffffff;
    }
  }
}
.mat-icon {
  width: 1.5em;
}

.chat__section-user {
  background-color: $main-buttons-color;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &-email {
    color: #ffffff;
    font-family: $second-main-font-family;
    font-size: 17px;
  }

  &-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 5px;
  }

  &-dummy-img {
    height: 45px;
    width: 45px;
    margin-right: 5px;
  }

  &-modal {
    color: #ffffff;
    font-family: $second-main-font-family;
    font-size: 17px;
    transition: 0.2s all ease-in-out;
    cursor: pointer;

    &:hover {
      color: $main-background-color;
    }
  }
}
