@import '../../styles/variables.scss';


.chat {
  height: 100%;
  position: relative;
  background-color: #ffffff;


  &__write-msg {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding-left: 10px;
    padding-right: 20px;
  }

  &__input-msg {
    border-color: rgba(var(--b6a,219,219,219),1);
    border-radius: 22px;
    width: 100%;
    color: $main-font-color;
  }

  &__matInp-msg {
    font-family: $second-main-font-family;
    color: $main-font-color;
    font-size: 17px;
  }

  &__input-send {
    cursor: pointer;
  }

  &__messages-area {
    height: 85%;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  &__messages {
    min-height: 40px;
    width: 35%;
    border: 1px solid $main-hover-color;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $main-font-family;
    color: $main-font-color;
    background-color: $main-background-color;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;

      &-text {
        width: 80%;
        word-wrap: break-word;
        margin-bottom: 0;
      }
  }
  &__msg-fromYou {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 10px;

    &-wrapper {
      background-color: $main-animations-color;
      color: #ffffff;
    }
  }
}
.mat-icon {
  width: 1.5em;
}

.chat__section-user {
  background-color: $main-buttons-color;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &-email {
    color: #ffffff;
    font-family: $second-main-font-family;
    font-size: 17px;
  }

  &-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 5px;
  }

  &-dummy-img {
    height: 45px;
    width: 45px;
    margin-right: 5px;
  }

  &-modal {
    color: #ffffff;
    font-family: $second-main-font-family;
    font-size: 17px;
    transition: 0.2s all ease-in-out;
    cursor: pointer;

    &:hover {
      color: $main-background-color;
    }
  }
}
.chat__wrapper-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__last-visit-span {
  color: #ffffff;
  font-family: $second-main-font-family;
  font-size: 13px;
  margin-top: 5px;
}
.chat__no-messages {
  position: absolute;
  top: 50%;
  left: 45%;
  font-family: $second-main-font-family;
  font-size: 16px;
  color: $main-font-color;
}

.hide__messages {
  display: none;
}

.chat__spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.dash {
  margin: 0 15px;
  width: 35px;
  height: 15px;
  border-radius: 8px;
  background: $main-buttons-color;
  box-shadow: 0 0 10px 0 #FECDFF;
}

.uno {
  margin-right: -18px;
  transform-origin: center left;
  animation: spin 3s linear infinite;
}

.dos {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: .2s;
}

.tres {
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: .3s;
}

.cuatro {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: .4s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(370deg);
  }
  35% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-180deg);
  }
  35% {
    transform: rotate(-190deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  78% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-360deg);
  }
  98% {
    transform: rotate(-370deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  27% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  45% {
    transform: rotate(190deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(370deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }
  38% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-360deg);
  }
  65% {
    transform: rotate(-370deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media screen and (min-device-width: 0px) and (max-device-width: 576px) {
  .chat__messages {
    width: 60%;
  }
  .chat__no-messages {
    left: 30%;
  }
}
@media screen and (min-device-width: 0px) and (max-device-width: 991px) {
  .chat__messages {
    width: 45%;
  }
}
