<div class="container">
  <div class="row">
    <div class="col-lg-12 sign-in__container">
      <div class="sign-in__content-block">
        <h3 class="sign-in__title">Sign In</h3>
        <div class="sign-in__form-wrapper">
          <mat-form-field class="sign-in__form-field">
            <mat-label>Email</mat-label>
            <input matInput class="sign-in__form-input">
          </mat-form-field>

          <mat-form-field class="sign-in__form-field">
            <mat-label>Password</mat-label>
            <input matInput type="password" class="sign-in__form-input">
          </mat-form-field>
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <div class="sign-in__form-buttons-wrapper">
          <div class="sign-in__buttons_parent">
            <button type="button" class="btn btnPrimary sign-in__form-buttons">Log In</button>
          </div>
          <!-- Calling GoogleAuth Api from AuthService -->
          <div class="sign-in__buttons_parent">
            <button type="button" class="btn googleBtn sign-in__form-buttons" (click)="authService.GoogleAuth()">
              <span>Log in with Google</span>
              <mat-icon class="mat-icon-rtl-mirror sign-in__form-icon" svgIcon="google"></mat-icon>
            </button>
          </div>
        </div>
        <div class="sign-in__form__forgot-password">
          <a routerLink="/forgot-password">Forgot Password?</a>
        </div>
        <div class="sign-in__form-redirect-to-login-wrapper">
          <span class="sign-in__form-redirect-to-login-span">Don't have an account?</span>
          <a  class="sign-in__form-redirect-to-login-href" [routerLink]="['/register-user']">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
